extends ../layouts/default.pug

block style 
  link(rel="stylesheet", href="/home/css/evaluate.css")
  
block main
  section(class="facilities")
    .card-header Cơ sở vật chất
    .card-body
      table.table.table-striped.table-hover.table-bordered 
        thead
          tr
            th Mã thiết bị
            th Tên thiết bị
            th Loại thiết bị
            th Vị trí
            th Số lượng
            th Trạng thái
            th Ngày lắp đặt 
            th Ngày bảo trì
            th Ngày kiểm tra cuối 
            th Lưu ý
        tbody 
          each equipment in infrastructure 
            tr
              td #{equipment.infrastructure_id}
              td #{equipment.name}
              td #{equipment.type}
              td #{equipment.location}
              td #{equipment.quantity}
              td #{equipment.status}
              td #{equipment.installation_date}
              td #{equipment.last_maintenance_date}
              td #{equipment.last_inspection_date}
              td #{equipment.notes}

    