extends ../layouts/default.pug

block style 
  link(rel='stylesheet', href='/home/css/issue.css')

block main
  section(class="situation-overview")
    .card-header Danh sách sự cố
    .card-header-btn
      .col-4 
        a(
          href=`/user/home/${userId}/reportIssue`
          class="btn btn-outline-success"
        ) ! Báo cáo sự cố
    .card-body
      table(class="table table-striped table-bordered")
        thead.thead-dark
          tr
            th Mã vấn đề
            th Vị trí sự cố
            th Loại sự cố
            th Thời gian báo cáo
            th Trạng thái
            th Người đảm nhận
            th Hành động
        tbody
          each item in issue
            tr
              td #{item.issue_id}
              td #{item.location}
              td #{item.description}
              td #{item.report_date}
              // Thêm logic đổi lớp trạng thái
              td
                span(class=`status-badge ${item.status.toLowerCase().replace(' ', '-')}`)
                  | #{item.status}
              td #{item.technician_name || 'Chưa có'}
              td 
                button.btn.btn-primary.view-detail(
                  type="button"
                  data-toggle="modal"
                  data-target="#issueDetailModal"
                  data-issue-id=`${item.issue_id}`
                  data-user-id=`${userId}`
                ) Xem chi tiết

  // Modal for Issue Details
  .modal.fade#issueDetailModal(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Thông tin chi tiết sự cố
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          p 
            strong Mã vấn đề: 
            span#modalIssueId
          p 
            strong Vị trí: 
            span#modalLocation
          p 
            strong Mô tả: 
            span#modalDescription
          p 
            strong Hình ảnh:
            img#modalImage(src="", alt="Hình ảnh sự cố", class="img-fluid")
          p 
            strong Ngày báo cáo: 
            span#modalReportDate
          p 
            strong Trạng thái: 
            span#modalStatus
          p 
            strong Người đảm nhận 
            span#modalTech
        .modal-footer
          button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng

  script(src="/home/js/issue.js")

