extends ../layouts/default.pug 
block style 
  link(rel='stylesheet', href='/admin/css/manageIssue.css')
block main
  section(class="situation-overview")
    .card-header Danh sách sự cố
    .card-body
      table(class="table table-striped table-bordered")
        thead.thead-dark
          tr
            th Mã vấn đề
            th Vị trí sự cố
            th Mô tả sự cố
            th Thời gian báo cáo
            th Trạng thái
            th Người đảm nhận
            th Hành động
        tbody
          each item in issue
            tr
              td #{item.issue_id}
              td #{item.location}
              td #{item.description}
              td #{item.report_date}
              td
                span(class=`status-badge ${item.status.toLowerCase().replace(' ', '-')}`)
                  |#{item.status}
              td #{item.technician_info}
              td 
                button.btn.btn-primary.view-detail(
                  type="button"
                  data-toggle="modal"
                  data-target="#issueDetailModal"
                  data-issue-id=`${item.issue_id}`
                  data-user-id=`${userId}`
                ) Chi tiết

  // Modal for Issue Details
  .modal.fade#issueDetailModal(tabindex="-1", role="dialog")
    .modal-dialog(role="document")
      .modal-content
        .modal-header
          h5.modal-title Thông tin chi tiết sự cố
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body
          p 
            strong Mã vấn đề: 
            span#modalIssueId
          p 
            strong Vị trí: 
            span#modalLocation
          p 
            strong Mô tả: 
            span#modalDescription
          p 
            strong Hình ảnh:
            img#modalImage(src="", alt="Hình ảnh sự cố", class="img-fluid")
          p 
            strong Ngày báo cáo: 
            span#modalReportDate
          p 
            strong Trạng thái: 
            span#modalStatus
          p 
            strong Phân công theo chuyên môn:
            select#modalExpertiseSelect.form-control
              option(value="") -- Chọn chuyên môn --
              option(value="Chuyên viên mạng") Chuyên viên mạng
              option(value="Chuyên viên điện") Chuyên viên điện
              option(value="Chuyên viên nước") Chuyên viên nước
              option(value="Chuyên viên dân dụng") Chuyên viên dân dụng
          p 
            strong Chọn kỹ thuật viên:
            select#modalTechSelect.form-control
              option(value="") -- Chọn kỹ thuật viên --
        .modal-footer
          button.btn.btn-primary(type="button", id="assignTechnicianButton") Phân công
          button.btn.btn-secondary(type="button", data-dismiss="modal") Đóng

  script(src="/admin/js/manageIssue.js")